.orca-card[data-v-5317a9b7]{max-width:400px;max-height:250px}.orca-tl[data-v-133a5479]{max-height:240px;margin-top:10px}.header[data-v-133a5479]{position:sticky;margin-top:5px;background-color:beige}
